{
    "branches": [
        "main",
        "release"
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "poetry version ${nextRelease.version}",
                "publishCmd": "poetry build; docker build --tag eirik-talberg/python-demoapp ."
            }
        ],
        [
            "@semantic-release-plus/docker",
            {
                "name": {
                    "registry": "ghcr.io",
                    "namespace": "eirik-talberg",
                    "repository": "python-demoapp"
                },
                "publishChannelTag": false
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "CHANGELOG.md"
                ]
            }
        ],
        [
            "@semantic-release/github",
            {
                "assets": [
                    "dist/*"
                ]
            }
        ]
    ]
}