{
    "branches": [
        "main"
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        [
            "@semantic-release/git",
            {
                "assets": [
                    "CHANGELOG.md"
                ]
            }
        ],
        [
            "@semantic-release-plus/docker",
            {
                "name": "ghcr.io/eirik-talberg/python-demoapp:${version}"
            }
        ],
        [
            "@semantic-release/github",
            {
                "assets": [
                    "dist/*"
                ]
            }
        ]
    ],
    "tagFormat": "${version}"
}